# .gitignore
.DS_Store
**/.DS_Store

.vscode/

.pytest_cache/
node_modules/
__pycache__/
**/__pycache__/

# Xcode
xcuserdata/
*.xcuserstate
*.xcworkspace/xcuserdata/
EllaMcKercher/MacOSPermissions/TCCPerms/TCCPerms.xcodeproj/project.pbxproj
